<div class = "title">
  <h1>Stupid Coaching</h1>
</div>

<div class = "container">
  <p><%= @search %></p>
  <p class = "info">Your question</p>
  <p><%= @coach_answer %></p>
  <p class = "info">Coach's answer</p>
  <%= link_to "Any more silly questions?", ask_path %>
</div>